<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.periode4groep2.customerapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BestelAppv2">
        <activity android:name=".PresentationLayer.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PresentationLayer.HomeScreenActivity" />
        <activity android:name=".PresentationLayer.AddBalanceActivity" />
        <activity android:name=".PresentationLayer.WalletActivity" />
        <activity android:name=".PresentationLayer.MyAccountActivity" />
        <activity android:name=".PresentationLayer.MyOrdersActivity" />
        <activity android:name=".PresentationLayer.OrderActivity" />
        <activity android:name=".PresentationLayer.OrderDetailActivity" />
        <activity android:name=".PresentationLayer.OrderHistory" />
        <activity android:name=".PresentationLayer.CustomListItemOrderHistory"></activity>
    </application>

</manifest>